flows.json
[{"id":"273fae19.f3f312","type":"tab","label":"J.P. Presence Sensor","disabled":false,"info":""},{"id":"779565ec.08c26c","type":"tab","label":"Presence Flows","disabled":false,"info":""},{"id":"c42b800a.c931b","type":"tab","label":"Lighting Flows (Basic)","disabled":false,"info":""},{"id":"44e3087c.d9d718","type":"tab","label":"Doors","disabled":false,"info":""},{"id":"bf759dde.76e88","type":"tab","label":"Bed Sensor to Influx","disabled":true,"info":""},{"id":"dcc746f2.1354f8","type":"server","z":"","name":"Home Assistant","url":"http://10.2.0.11:8123","pass":"e01240ee87e1eedab40dcf952e893b19"},{"id":"843e37fe.299208","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"network-ca-chain.pem","servername":"","verifyservercert":true},{"id":"7e02ef65.2a871","type":"mqtt-broker","z":"","name":"HA MQTT Influx","broker":"mqtt.hass-net","port":"8883","tls":"843e37fe.299208","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"751240d6.6df02","type":"influxdb","z":"","hostname":"influxdb.hass-net","port":"8086","protocol":"http","database":"mqtt","name":"Influx MQTT","usetls":false,"tls":"843e37fe.299208"},{"id":"19db3621.b6060a","type":"mqtt-broker","z":"","name":"HA MQTT Presence","broker":"mqtt.hass-net","port":"8883","tls":"843e37fe.299208","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1d8f3100.f44c0f","type":"bigtimer","z":"c42b800a.c931b","outtopic":"","outpayload1":"ON","outpayload2":"","name":"Sunset","comment":"","lat":"33.868","lon":" -118.394","starttime":"5004","endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":90,"y":120,"wires":[["939bd91.2bed728"],[],[]]},{"id":"939bd91.2bed728","type":"api-current-state","z":"c42b800a.c931b","name":"J.P. Home?","server":"dcc746f2.1354f8","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.jp_presence","x":290,"y":100,"wires":[["d1f44404.a16628","c95abc3a.9cc99"]]},{"id":"d1f44404.a16628","type":"api-call-service","z":"c42b800a.c931b","name":"Living Room On","server":"dcc746f2.1354f8","service_domain":"scene","service":"turn_on","data":"{\"entity_id\": \"scene.living_room_normal\"}","mergecontext":"","x":720,"y":100,"wires":[[]]},{"id":"91a2d71a.2c7048","type":"inject","z":"c42b800a.c931b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["939bd91.2bed728"]]},{"id":"6716b9bf.f3cbe8","type":"api-call-service","z":"c42b800a.c931b","name":"Telegram Bot","server":"dcc746f2.1354f8","service_domain":"notify","service":"telegram_bot","data":"","mergecontext":"","x":710,"y":260,"wires":[[]]},{"id":"c95abc3a.9cc99","type":"file in","z":"c42b800a.c931b","name":"Sunset Quotes","filename":"/data/quotes/sunset.json","format":"utf8","chunk":false,"sendError":false,"x":190,"y":320,"wires":[["20c76bba.7fcf34"]]},{"id":"9f4dbed1.7c092","type":"debug","z":"c42b800a.c931b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":320,"wires":[]},{"id":"20c76bba.7fcf34","type":"json","z":"c42b800a.c931b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":320,"wires":[["ef412e1d.f5679"]]},{"id":"ef412e1d.f5679","type":"function","z":"c42b800a.c931b","name":"Random Quote","func":"var item = msg.payload[Math.floor(Math.random()*msg.payload.length)];\nmsg.payload = {\n    \"data\": { \"message\": item[0] + \"\\n ― \" + item[1] }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["9f4dbed1.7c092","6716b9bf.f3cbe8"]]},{"id":"8c96a6bb.634bc8","type":"comment","z":"c42b800a.c931b","name":"Send a random Good Reads Sunset Quote","info":"","x":420,"y":260,"wires":[]},{"id":"46429ba4.1c3904","type":"server-state-changed","z":"779565ec.08c26c","name":"J.P. Presence","server":"dcc746f2.1354f8","entityidfilter":"input_select.jp_presence_status","entityidfiltertype":"substring","haltifstate":"","x":80,"y":120,"wires":[["768c39fc.4a5cc8","412258b8.cc5aa8"]]},{"id":"768c39fc.4a5cc8","type":"switch","z":"779565ec.08c26c","name":"Just Arrived","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Arrived","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":120,"wires":[["942a045c.245388"]]},{"id":"80b5b669.b223c8","type":"api-call-service","z":"779565ec.08c26c","name":"Entry Lamp","server":"dcc746f2.1354f8","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.living_room_entry\", \"brightness\": 120 }","mergecontext":"","x":770,"y":60,"wires":[[]]},{"id":"e012e81e.92a808","type":"inject","z":"779565ec.08c26c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":40,"wires":[["942a045c.245388"]]},{"id":"942a045c.245388","type":"time-range-switch","z":"779565ec.08c26c","name":"Sun Down","lat":"33.868","lon":"-118.393","startTime":"goldenHour","endTime":"goldenHourEnd","startOffset":0,"endOffset":0,"x":550,"y":80,"wires":[["80b5b669.b223c8"],[]]},{"id":"7a266f07.25681","type":"bigtimer","z":"c42b800a.c931b","outtopic":"","outpayload1":"ON","outpayload2":"","name":"Sunrise (Weekday)","comment":"","lat":"33.868","lon":"-118.393","starttime":"300","endtime":"420","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":150,"y":500,"wires":[["42310c2b.a3e634"],[],[]]},{"id":"141711aa.78e3fe","type":"bigtimer","z":"c42b800a.c931b","outtopic":"","outpayload1":"ON","outpayload2":"","name":"Sunrise (Weekend)","comment":"","lat":"33.868","lon":"-118.393","starttime":"375","endtime":"420","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":150,"y":580,"wires":[["42310c2b.a3e634"],[],[]]},{"id":"42310c2b.a3e634","type":"api-current-state","z":"c42b800a.c931b","name":"J.P. Home?","server":"dcc746f2.1354f8","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.jp_presence","x":410,"y":520,"wires":[["ae800df6.a1886"]]},{"id":"ae800df6.a1886","type":"api-call-service","z":"c42b800a.c931b","name":"Sunrise","server":"dcc746f2.1354f8","service_domain":"script","service":"sunrise","data":"","mergecontext":"","x":620,"y":520,"wires":[[]]},{"id":"88248af7.c23e88","type":"comment","z":"c42b800a.c931b","name":"Naive Sunrise Script","info":"","x":290,"y":440,"wires":[]},{"id":"412258b8.cc5aa8","type":"switch","z":"779565ec.08c26c","name":"Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":240,"wires":[["6e662a08.5f4604","42c3b448.27a00c"]]},{"id":"6e662a08.5f4604","type":"api-call-service","z":"779565ec.08c26c","name":"Lights Off","server":"dcc746f2.1354f8","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"all\" }","mergecontext":"","x":520,"y":240,"wires":[[]]},{"id":"20a3d76b.2deca8","type":"mqtt in","z":"bf759dde.76e88","name":"Bed Sensor - Right","topic":"sensor/esp8266-bed-right","qos":"2","broker":"7e02ef65.2a871","x":130,"y":140,"wires":[["9ec88dac.f9ef2","b2381ee0.3a342"]]},{"id":"9ec88dac.f9ef2","type":"debug","z":"bf759dde.76e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":200,"wires":[]},{"id":"b2381ee0.3a342","type":"influxdb out","z":"bf759dde.76e88","influxdb":"751240d6.6df02","name":"","measurement":"bed_sensor_right","precision":"","retentionPolicy":"","x":570,"y":140,"wires":[]},{"id":"6aa29a81.004cf4","type":"bigtimer","z":"c42b800a.c931b","outtopic":"","outpayload1":"ON","outpayload2":"","name":"8:30pm","comment":"","lat":"33.868","lon":" -118.394","starttime":"1230","endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":120,"y":760,"wires":[["44f42b62.8d5d44"],[],[]]},{"id":"44f42b62.8d5d44","type":"api-current-state","z":"c42b800a.c931b","name":"Not in Bed?","server":"dcc746f2.1354f8","halt_if":"Occupied","override_topic":true,"override_payload":true,"entity_id":"sensor.jp_bed","x":310,"y":760,"wires":[["5acd7624.8e34d8"]]},{"id":"60769cea.c6d124","type":"api-call-service","z":"c42b800a.c931b","name":"Nightstand Lamp","server":"dcc746f2.1354f8","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.nightstand_right\", \"profile\": \"reading\" }","mergecontext":"","x":570,"y":820,"wires":[[]]},{"id":"5acd7624.8e34d8","type":"api-current-state","z":"c42b800a.c931b","name":"J.P. Home?","server":"dcc746f2.1354f8","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.jp_presence","x":310,"y":820,"wires":[["60769cea.c6d124"]]},{"id":"21241b99.93c344","type":"comment","z":"c42b800a.c931b","name":"Turn on Bedroom Lamp at 8:30pm","info":"","x":360,"y":700,"wires":[]},{"id":"389d299c.3ee8e6","type":"inject","z":"c42b800a.c931b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["44f42b62.8d5d44"]]},{"id":"9e618bd6.c59938","type":"server-state-changed","z":"779565ec.08c26c","name":"Front Door Opened","server":"dcc746f2.1354f8","entityidfilter":"binary_sensor.front_door_open","entityidfiltertype":"substring","haltifstate":"","x":110,"y":420,"wires":[["60895ba3.1cdc04"]]},{"id":"6e477116.fdc49","type":"delay","z":"779565ec.08c26c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":420,"wires":[["28a1a431.c57dfc"]]},{"id":"60895ba3.1cdc04","type":"switch","z":"779565ec.08c26c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":420,"wires":[["6e477116.fdc49"],["ee0c8b5a.c3e188"]]},{"id":"28a1a431.c57dfc","type":"mqtt out","z":"779565ec.08c26c","name":"Departure Scan","topic":"monitor/scan/depart","qos":"","retain":"","broker":"19db3621.b6060a","x":680,"y":420,"wires":[]},{"id":"42e18562.fd3a7c","type":"inject","z":"779565ec.08c26c","name":"","topic":"","payload":"triggered","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":360,"wires":[["28a1a431.c57dfc"]]},{"id":"ca1aca07.5fdac8","type":"comment","z":"779565ec.08c26c","name":"Trigger Departure Scan on Door Open","info":"","x":210,"y":340,"wires":[]},{"id":"ee0c8b5a.c3e188","type":"mqtt out","z":"779565ec.08c26c","name":"Arrival Scan","topic":"monitor/scan/arrive","qos":"","retain":"","broker":"19db3621.b6060a","x":570,"y":500,"wires":[]},{"id":"a2fdbe12.85df","type":"server-state-changed","z":"44e3087c.d9d718","name":"Front Door","server":"dcc746f2.1354f8","entityidfilter":"binary_sensor.front_door_open","entityidfiltertype":"substring","haltifstate":"","x":100,"y":120,"wires":[["e34d818c.86b1"]]},{"id":"e34d818c.86b1","type":"rbe","z":"44e3087c.d9d718","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":120,"wires":[["37c8a9ee.cef5e6"]]},{"id":"742dc247.984b8c","type":"trigger","z":"44e3087c.d9d718","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"2 Minutes","x":500,"y":120,"wires":[["c831253f.534558"]]},{"id":"37c8a9ee.cef5e6","type":"switch","z":"44e3087c.d9d718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":220,"wires":[["742dc247.984b8c"],["ccbfe91e.e886a8"]]},{"id":"ccbfe91e.e886a8","type":"change","z":"44e3087c.d9d718","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["742dc247.984b8c"]]},{"id":"c831253f.534558","type":"api-call-service","z":"44e3087c.d9d718","name":"Notify Front Door","server":"dcc746f2.1354f8","service_domain":"notify","service":"telegram_bot","data":"{ \"message\": \"Door's Open, Yo\" }","mergecontext":"","x":750,"y":120,"wires":[[]]},{"id":"63adf4f2.c38e0c","type":"comment","z":"44e3087c.d9d718","name":"Send notification when doors stay open for 2 min","info":"","x":220,"y":40,"wires":[]},{"id":"7d1fdd05.b3d974","type":"server-state-changed","z":"273fae19.f3f312","name":"J.P. Sensor","server":"dcc746f2.1354f8","entityidfilter":"binary_sensor.jp_presence","entityidfiltertype":"exact","haltifstate":"","x":100,"y":300,"wires":[["f283523c.b1363"]]},{"id":"f283523c.b1363","type":"rbe","z":"273fae19.f3f312","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":300,"wires":[["c447130a.51227"]]},{"id":"c447130a.51227","type":"switch","z":"273fae19.f3f312","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":300,"wires":[["7392b17a.11cf8"],["119c992d.433697"]]},{"id":"7392b17a.11cf8","type":"api-current-state","z":"273fae19.f3f312","name":"J.P. Status","server":"dcc746f2.1354f8","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.jp_status","x":570,"y":240,"wires":[["b08d4552.5e04b8"]]},{"id":"b08d4552.5e04b8","type":"switch","z":"273fae19.f3f312","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":120,"wires":[["1019dde0.662b42"],["38ca4eec.4dab02"]]},{"id":"30765628.fd729a","type":"comment","z":"273fae19.f3f312","name":"Is Home","info":"","x":380,"y":260,"wires":[]},{"id":"b99e702d.61cbe","type":"comment","z":"273fae19.f3f312","name":"Is Away","info":"","x":370,"y":340,"wires":[]},{"id":"34ea4d8c.7c1b72","type":"comment","z":"273fae19.f3f312","name":"Just Left","info":"","x":400,"y":80,"wires":[]},{"id":"1019dde0.662b42","type":"change","z":"273fae19.f3f312","name":"Home","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":100,"wires":[["79275234.a023bc"]]},{"id":"38ca4eec.4dab02","type":"change","z":"273fae19.f3f312","name":"Just Arrived","rules":[{"t":"set","p":"payload","pt":"msg","to":"Just Arrived","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":140,"wires":[["79275234.a023bc"]]},{"id":"119c992d.433697","type":"change","z":"273fae19.f3f312","name":"Just Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"Just Left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["77982730.783ff8"]]},{"id":"abb21d14.e18ea","type":"comment","z":"273fae19.f3f312","name":"Handle Presence Sensor Updates","info":"","x":180,"y":40,"wires":[]},{"id":"52f315b3.1990ac","type":"inject","z":"273fae19.f3f312","name":"Absent","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["f283523c.b1363"]]},{"id":"fd881fe6.c7eb","type":"inject","z":"273fae19.f3f312","name":"Present","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["f283523c.b1363"]]},{"id":"61a64988.6cf508","type":"comment","z":"273fae19.f3f312","name":"Handle Timed Presence Status Updates","info":"","x":190,"y":540,"wires":[]},{"id":"ddafc09e.ffadf","type":"server-state-changed","z":"273fae19.f3f312","name":"J.P. Status","server":"dcc746f2.1354f8","entityidfilter":"sensor.jp_status","entityidfiltertype":"exact","haltifstate":"","x":100,"y":700,"wires":[["22cd75d2.85577a"]]},{"id":"22cd75d2.85577a","type":"rbe","z":"273fae19.f3f312","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":700,"wires":[["3443fccb.f5da64","9b36758c.879bc8","3e303313.0c792c"]]},{"id":"3443fccb.f5da64","type":"switch","z":"273fae19.f3f312","name":"Just Left","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":700,"wires":[["a052d979.ce0438"],["6e9f6779.10ebd8"]]},{"id":"6e9f6779.10ebd8","type":"change","z":"273fae19.f3f312","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":760,"wires":[["a052d979.ce0438"]]},{"id":"a052d979.ce0438","type":"trigger","z":"273fae19.f3f312","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"5 Minutes","x":660,"y":640,"wires":[["d67a450b.ae8d08"]]},{"id":"9b36758c.879bc8","type":"switch","z":"273fae19.f3f312","name":"Just Arrived","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Arrived","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":960,"wires":[["5a7efb7.494a004"],["45b68d92.b97014"]]},{"id":"45b68d92.b97014","type":"change","z":"273fae19.f3f312","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1020,"wires":[["5a7efb7.494a004"]]},{"id":"5a7efb7.494a004","type":"trigger","z":"273fae19.f3f312","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"5 Minutes","x":660,"y":900,"wires":[["c473f3dc.a3017"]]},{"id":"d67a450b.ae8d08","type":"change","z":"273fae19.f3f312","name":"Away","rules":[{"t":"set","p":"payload","pt":"msg","to":"Away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":580,"wires":[["493b0e46.22539"]]},{"id":"c473f3dc.a3017","type":"change","z":"273fae19.f3f312","name":"Home","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":840,"wires":[["e5090276.9486a"]]},{"id":"3e303313.0c792c","type":"switch","z":"273fae19.f3f312","name":"Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1220,"wires":[["83481480.c6d3f8"],["fd5d4816.14c468"]]},{"id":"fd5d4816.14c468","type":"change","z":"273fae19.f3f312","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1280,"wires":[["83481480.c6d3f8"]]},{"id":"83481480.c6d3f8","type":"trigger","z":"273fae19.f3f312","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"all","name":"24 Hours","x":640,"y":1160,"wires":[["725d0f3.5a40bf"]]},{"id":"725d0f3.5a40bf","type":"change","z":"273fae19.f3f312","name":"Extended Away","rules":[{"t":"set","p":"payload","pt":"msg","to":"Extended Away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1100,"wires":[["d9dac77.19d8838"]]},{"id":"42c3b448.27a00c","type":"api-call-service","z":"779565ec.08c26c","name":"Snarky HA","server":"dcc746f2.1354f8","service_domain":"notify","service":"telegram_bot","data":"{ \"message\": \"k bye lol\" }","mergecontext":"","x":530,"y":200,"wires":[[]]},{"id":"8986b236.bfff6","type":"link in","z":"273fae19.f3f312","name":"","links":["493b0e46.22539","e5090276.9486a","d9dac77.19d8838","79275234.a023bc","77982730.783ff8"],"x":95,"y":1480,"wires":[["ffa6deea.a7f9b"]]},{"id":"3523bc13.796cb4","type":"api-call-service","z":"273fae19.f3f312","name":"Update J.P. Status","server":"dcc746f2.1354f8","service_domain":"input_select","service":"select_option","data":"","mergecontext":"","x":470,"y":1480,"wires":[[]]},{"id":"ffa6deea.a7f9b","type":"template","z":"273fae19.f3f312","name":"Format Payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\": {\n        \"entity_id\": \"input_select.jp_presence_status\",\n        \"option\": \"{{payload}}\"\n    }\n}","output":"json","x":240,"y":1480,"wires":[["3523bc13.796cb4","71ad2576.de98bc"]]},{"id":"71ad2576.de98bc","type":"debug","z":"273fae19.f3f312","name":"J.P. Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.option","x":450,"y":1420,"wires":[]},{"id":"493b0e46.22539","type":"link out","z":"273fae19.f3f312","name":"","links":["8986b236.bfff6"],"x":795,"y":580,"wires":[]},{"id":"e5090276.9486a","type":"link out","z":"273fae19.f3f312","name":"","links":["8986b236.bfff6"],"x":795,"y":840,"wires":[]},{"id":"d9dac77.19d8838","type":"link out","z":"273fae19.f3f312","name":"","links":["8986b236.bfff6"],"x":795,"y":1100,"wires":[]},{"id":"79275234.a023bc","type":"link out","z":"273fae19.f3f312","name":"","links":["8986b236.bfff6"],"x":795,"y":100,"wires":[]},{"id":"77982730.783ff8","type":"link out","z":"273fae19.f3f312","name":"","links":["8986b236.bfff6"],"x":795,"y":340,"wires":[]},{"id":"9715daf3.f3b188","type":"comment","z":"273fae19.f3f312","name":"Set New Status","info":"","x":120,"y":1400,"wires":[]}]